body,
html {
    margin: 0;
	padding: 0;
	height: 100%;
    min-height: 100vh;
	background: #1f4037;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #53ce94, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #53ce94, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: linear-gradient(180deg, rgba(52,58,64,1) 0%, rgba(233,233,233,1) 86%, rgba(236,236,236,1) 100%);*/
}

/*
--------------------------------------------------------------------------------

    START: LOGIN CSS RULES

--------------------------------------------------------------------------------
*/

/* Coded with love by Mutiullah Samim */
.user_card {
    height: 385px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #f8f9fa;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #28a745;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #28a745 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}

/*
--------------------------------------------------------------------------------

    END: LOGIN CSS RULES

--------------------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------------------

    START: FIELDSET CSS RULES

--------------------------------------------------------------------------------
*/

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border: 2px solid #f8f9fa;
}

legend {
    width: auto;
    padding: 5px;
    margin-bottom: 0;
}

/* Solid border */
.solid-top-boarder {
  border-top: 3px solid #bbb;
}

/*
--------------------------------------------------------------------------------

    END: FIELDSET CSS RULES

--------------------------------------------------------------------------------
*/
