body {
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(52,58,64,1) 0%, rgba(233,233,233,1) 86%, rgba(236,236,236,1) 100%);
}

/*
--------------------------------------------------------------------------------

    START: NAVBAR CSS RULES

--------------------------------------------------------------------------------
*/
.nav-background {
    /* border-bottom: .3px solid #FFF; */
    /* background: #343a40; */
}

.nav-btn-normal {
    margin-right: .5rem;
}

.nav-btn-normal a{
    color: #f8f9fa;
    text-decoration: none;

    font-size: 1.25rem;
}

.nav-btn-normal a:hover{
    background-color: #f8f9fa;
    color: #343a40 !important;
}

@media (max-width: 991px) {
    #first-nav-item {
        margin-top: 1rem;
    }

    #last-nav-item {
        margin-bottom: 1rem;
    }

    .navbar-collapse {
        border-bottom: 1px solid #333;
    }

    /* .nav-btn-normal{
        text-align: left !important;
    } */
}

/*
--------------------------------------------------------------------------------

    END: NAVBAR CSS RULES

--------------------------------------------------------------------------------
*/


.table-header {
    margin-right: -1px;
    margin-left: -1px;

    position: sticky !important;
    top: 0 !important; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    z-index: 2000;
}

.date-select option:first-of-type {
    display: none;
}

.borderless td, .borderless th {
    border: none;
}





fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border: 2px solid #f8f9fa;
}

legend {
    width: auto;
    padding: 5px;
    margin-bottom: 0;
}
