{% extends "form-base.html" %}

{% block title %}
    Transactions
{% endblock %}


{% block footer_scripts %}
    {{ super() }}
    <script src="/static/js/tables/transactions.js"></script>
{% endblock %}

{% block header_text %}
    Transactions
{% endblock %}

{% block input_form_action %}transactions-insert{% endblock %}

{% block input_form_type %}
<select class="form-control shadow" name="category" id="category">
    <optgroup label="Yearly">
    {% for cat in categorysY %}
    <option value="{{cat}}">{{cat}}</option>
    {% endfor %}
    </optgroup>
    <optgroup label="Monthly">
    {% for cat in categorysM %}
    <option value="{{cat}}">{{cat}}</option>
    {% endfor %}
    </optgroup>
</select>
{% endblock %}

{% block input_form_1_sise %}2{% endblock %}
{% block input_form_2_sise %}2{% endblock %}
{% block input_form_3_sise %}3{% endblock %}
{% block input_form_4_sise %}5{% endblock %}


{% block filters %}
    <div class="ml-auto pr-3">
        <select class="date-select form-control shadow" name="category" onchange="categoryFilter(event);updateGraphs();">
            <option value="-1">Filter Category</option>
            <optgroup label="Yearly">
            {% for cat in categorysY %}
            <option value="{{cat}}">{{cat}}</option>
            {% endfor %}
            </optgroup>
            <optgroup label="Monthly">
            {% for cat in categorysM %}
            <option value="{{cat}}">{{cat}}</option>
            {% endfor %}
            </optgroup>
            <option value="-1">All</option>
        </select>
    </div>
{% endblock %}


{% block table_header %}
    <th class="col-sm-2">Amount</th>
    <th class="col-sm-2">Category</th>
    <th class="col-sm-3">Date</th>
    <th class="col-sm-3">Description</th>
{% endblock %}


{% block table_body %}
    {% for row in rows %}
    <tr class="row text-center m-0" name={{ row["id"] }}>
        <td class="col-sm-2">{{ "$%.2f"|format(row["amount"]) }}</td>
        <td class="col-sm-2 category">{{ row["category"] }}</td>
        <td class="col-sm-3 date">{{ row["date"] }}</td>
        <td class="col-sm-3">{{ row["description"] }}</td>
    </tr>
    {% endfor %}
{% endblock %}
